{
 "db_host": "{{ db_host }}",
 "db_port": {{ db_port }},
 "redis_cache": "redis://{{ redis_cache_host }}:{{ redis_cache_port }}",
 "redis_queue": "redis://{{ redis_queue_host }}:{{ redis_queue_port }}",
 "redis_socketio": "redis://{{ redis_socketio_host }}:{{ redis_socketio_port }}",
 "socketio_port": {{ socketio_port }},
 "webserver_port": {{ bench_port }}
}
